<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Team</title>
    <style>
        body {
            background-image: url('https://www.thetopvillas.com/blog/wp-content/uploads/2020/06/shutterstock_213689170-1-1140x760.jpg');
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1>
        Edit <%= team.name %>
    </h1>
    <form method="POST" action="/teams/<%= team.id %>?_method=PUT">
        <div>
            <label for="name">
                Name:
            </label>
            <input type="text" id="name" name="name" value="<%=team.name %>">
        </div>
        <div>
            <label for="city">
                City:
            </label>
            <input type="text" id="city" name="city" value="<%=team.city %>">
        </div>
        <div>
            <label for="sport">
                Sport:
            </label>
            <input type="text" id="sport" name="sport" value="<%=team.sport %>">
        </div>
        <input type="submit" value="Confirm" >
    </form>
</body>
</html>