<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Team</title>
</head>
<body>
    <h1>
        <%= team.name %> 
    </h1>
    <h3>
        City: <%= team.city %> 
    </h3>
    <h3>
       Sport: <%= team.sport %> 
    </h3>
    <a href="/teams/<%= team.id %>/edit">
        <button>
            Edit team
        </button>
    </a>
    <form method="POST" action="/teams/<%= team.id %>?_method=DELETE">
        <input type="submit" value="Delete" style ="background-color: red;">
    </form>
</body>
</html>